.loginDiv {
    top: 100px;
    left: -29.6719px;
    bottom: auto;
    right: auto;
    display: block !important;
}
.title {
    opacity: 0.8;
    font-size: 40px;
}
.title2 {
    opacity: 0.6;
}
.ui.items .item .content {
    padding: 10px;
}