<div class="ui top fixed menu">
    <div class="ui container farsi">
        <a class="item" href="index.html"><i class="home icon"></i> خانه</a>
        <div class="ui simple dropdown item">
            مستندات
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> API</a>
                <a class="item"><i class="settings icon"></i> Help</a>
            </div>
        </div>
        <!--<div class="right item">-->
        <!--<div class="ui simple dropdown button item">-->
        <!--<i class="wrench icon"></i>-->
        <!--asdas-->
        <!--<div class="menu">-->
        <!--<div class="header">Display Density</div>-->
        <!--<div class="item">Comfortable</div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="item">-->
        <!--<i class="dropdown icon"></i>-->
        <!--<span class="text">Upload Settings</span>-->
        <!--<div class="menu">-->
        <!--<div class="item">-->
        <!--<i class="check icon"></i>-->
        <!--Convert Uploaded Files to PDF-->
        <!--</div>-->
        <!--<div class="item">-->
        <!--<i class="check icon"></i>-->
        <!--Digitize Text from Uploaded Files-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="item">Manage Apps</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="ui simple button item farsi" id="loginPopup">-->
        <!--<i class="user icon"></i>-->
        <!--حساب شما-->
        <!--</div>-->
        <!--<div class="ui relaxed flowing popup bottom right transition hidden" id="loginPop">-->
        <!--<div class="ui top attached tabular secondary pointing menu farsi" dir="rtl">-->
        <!--<a class="item active" data-tab="first">ورود</a>-->
        <!--<a class="item" data-tab="second">ایجاد حساب</a>-->
        <!--</div>-->
        <!--<div class="ui bottom attached tab active" style="margin-top: 10px;" data-tab="first">-->
        <!--<form class="ui form farsi" dir="rtl">-->
        <!--<div class="field">-->
        <!--<label>ایمیل یا شناسه</label>-->
        <!--<input type="text" class="farsi" name="userid" placeholder="ایمیل یا شناسه">-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--<label>گذرواژه</label>-->
        <!--<input type="password" class="farsi" name="passwd" placeholder="گذرواژه">-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--<div class="ui toggle checkbox">-->
        <!--<input type="checkbox" >-->
        <!--<label>من را فراموش نکن</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="ui error message farsi" dir="rtl"></div>-->
        <!--<button class="ui green basic button farsi" type="submit">وارد شو</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--<div class="ui bottom attached tab" style="margin-top: 10px;" data-tab="second">-->
        <!--<form class="ui form farsi" dir="rtl">-->
        <!--<div class="field">-->
        <!--<label> شناسه</label>-->
        <!--<input type="text" class="farsi" name="userid" placeholder="شناسه">-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--<label>ایمیل</label>-->
        <!--<input type="text" class="farsi" name="email" placeholder="ایمیل">-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--<label>گذرواژه</label>-->
        <!--<input type="password" class="farsi" name="passwd" placeholder="گذرواژه">-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--<div class="ui checkbox">-->
        <!--<input type="checkbox">-->
        <!--<label><a href="">قوانین</a> را قبول دارم</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="ui warning message farsi" dir="rtl"></div>-->
        <!--<button class="ui green basic button farsi" type="submit">ثبت نام</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="ui item">-->
        <!--<div class="text">-->
        <!--<img class="ui avatar image" src="/jsj">-->
        <!--جک گنجیشکه-->
        <!--</div>-->
        <!--<i class="dropdown icon"></i>-->
        <!--<div class="menu">-->
        <!--<div class="header">حساب کاربری</div>-->
        <!--<div class="item">ورود</div>-->
        <!--<div class="item">-->
        <!--<img class= "ui avatar image" src="/idsf">-->
        <!--Jenny Hess-->
        <!--</div>-->
        <!--<div class="divider"></div>-->
        <!--<div class="header">تنظیمات  حساب</div>-->
        <!--<div class="item"><i class="android icon"></i>پروفایل </div>-->
        <!--<div class="item"><i class="remove user icon"></i>خروج </div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>